<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="std1" class="com.sagar.comp.Student">
        <constructor-arg  value="10"/>
        <constructor-arg  value="sagar"/>
        <constructor-arg  value="Pune"/>
        <constructor-arg  value="22.5f"/>
    </bean>

    <bean id="std2" class="com.sagar.comp.Student">
        <constructor-arg type="java.lang.Integer" value="10"/>
        <constructor-arg type="java.lang.String" value="sagar"/>
        <constructor-arg type="java.lang.String" value="Pune"/>
        <constructor-arg type="java.lang.Float" value="22.5f"/>
    </bean>

    <bean id="std3" class="com.sagar.comp.Student">
        <constructor-arg index="0" value="10"/>
        <constructor-arg index="1" value="sagar"/>
        <constructor-arg index="2" value="Pune"/>
        <constructor-arg index="3" value="22.5f"/>
    </bean>

    <bean id="std4" class="com.sagar.comp.Student">
        <constructor-arg name="sname" value="sagar"/>
        <constructor-arg name="saddr" value="Pune"/>
        <constructor-arg name="sno" value="10"/>
        <constructor-arg name="avg" value="22.5f"/>
    </bean>


    <bean id="std5" class="com.sagar.comp.Student">
        <constructor-arg name="sname" type="java.lang.String" index="1" value="sagar"/>
        <constructor-arg name="saddr" type="java.lang.String" index="2" value="Pune"/>
        <constructor-arg name="sno"   type="java.lang.Integer" index="0" value="10"/>
        <constructor-arg name="avg"   type="java.lang.Float" index="3" value="22.5f"/>
    </bean>

</beans>