<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Parent Bean -->
    <bean id="parentBean" abstract="true" class="com.sagar.comp.Person">
        <constructor-arg name="name" value="Default Name"/>
        <constructor-arg name="address" value="Default Address"/>
        <constructor-arg name="age" value="0"/>
    </bean>

    <!-- Child Bean 1 -->
    <bean id="childBean1" parent="parentBean">
        <constructor-arg name="age" value="25"/>
    </bean>

    <!-- Child Bean 2 -->
    <bean id="childBean2" parent="parentBean">
        <constructor-arg name="name" value="Jane Smith"/>
        <constructor-arg name="age" value="30"/>
    </bean>

</beans>
